body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    font-family: sans-serif;
    color: #333;
    line-height: 140%;
}


.picture{
    position: relative;
}
.block{

	width: 100px;
	height: 100px;
	margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    background-size: cover;
	   -webkit-transition: all 0.2s;
       -o-transition:all 0.2s;
       transition:all 0.2s;
    
}
.img1{
	background-image: url(../img/abecedary.svg);

    }
.img2{
	background-image: url(../img/address-book.svg);
	
    }
  .img3{
	background-image: url(../img/angry.svg);
    }
  .img4{
	background-image: url(../img/arrow-3.svg);
    }
    .img1::before{
        content: 'увеличение';
   position: absolute;
    background: #e1e1e1;
    text-decoration: none;
    color: #666666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);      
      margin-top: 100px;
     /* opacity: 0;*/
       
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

       
            }
            .img1:hover{
                transform: translateY(-30px);
                    transform: scale(1.1);
            }
            .img1:hover::before{
              /*  opacity: 1;*/
                display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);             

            }
           
            .img2::before{
        content: 'колебание по вертикали';
       width: 100px;
       margin: 100px;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
               position: absolute;       
      margin-top: 85px;
     /* opacity: 0;*/
                   }
                   @keyframes  wobble-vertical {
                    16.65%{
                      transform: translateY(8px);
                    }
                    33.3%{
                      transform: translateY(-6px);
                    }
                   49.95%{
                      transform: translateY(4px);
                    }  
                    66.6%{
                      transform: translateY(-2px);
                    }  
                    83.25%{
                      transform: translateY(1px);
                    }  
                     100%{
                      transform: translateY(0);
                    }
                    } 
       .img2:hover{
                transform: translateY(-20px);
                 cursor: pointer;
            }
           
            .img2:hover::before{
              transform: translateZ(0);
              display: inline-block;
              box-shadow: 0 0 1px rgba(0,0,0,0);
              /*opacity: 1;*/
              -webkit-animation-name: wobble-vertical;    
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
            }
            .img3::before{
        content: 'появление границы';
        display: block;
        margin: .4em;
    padding: 1em;
    cursor: pointer;
       
      background-color:green ;
        color: #666666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        position: absolute;       
      margin-top: 85px;
      /*opacity: 0;*/
                  -webkit-transition: all 0.2s;
       -o-transition:all 0.2s;
       transition:all 0.2s;
       font-size: 14px;
       color: red;       
            }
       .img3:hover{
                transform: translateY(-20px);
                 cursor: pointer;
            }
           
            .img3:hover::before{
             transition-duration: 0.1s;
             transition-property: box-shadow;
             transform: translateZ(0);
             box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);

             /* opacity: 1;*/
            }
            .img4::before{
              content:"тень снаружи";
              width: 100px;
              height: 20px;
              /*opacity: 0;*/
              position: absolute;
              background-color: yellow;
              border: 1px solid red;
              margin-top:  80px;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            }
            .img4:hover{
              transform: translateY(-20px);

            }
            .img4:hover::before{
              box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
              transition-duration: 0.3s;
              transition-property: box-shadow;
              transform: translateZ(0);
             /* opacity: 1;*/

            }